.wrapper{
    margin: 0 auto;
    padding: 30px 0;
    width: 1160px;
}
#messages-area{
    height:500px;
    border: 2px solid #000;
    padding:0;
}
ul#messages{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    float: left;
}
li{
    padding:10px 0 0;
}
p{
    padding: 10px 0  0 30px;
    font-size: 18px;
}
#chatArea{
    width: 150px;
    height: 498px;
    float: left;
    margin: 0;
    border-right: 2px Solid #000;
}